<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, hector, karto]"/>
  <arg name="configuration_basename" default="robot_lds_2d.lua"/>
  <arg name="open_rviz" default="false"/>

  <include file="$(find difflidarbot)/launch/$(arg slam_methods).launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_slam)/rviz/turtlebot3_$(arg slam_methods).rviz"/>
  </group>
</launch>
